.footernav {
    display: flex;
    direction: column;
    justify-content: center;
    height: 5rem;
    width: 100%;
    border-top: solid black .1rem;
    background-color: black;

    li {
        display: inline;
    }    

    .footernav__list {
        margin-top: 1.8rem;
        background-color: black;
    }
}

.btn__footer {
    color: rgb(231, 192, 192);
    background-color:rgb(107, 41, 41);
    text-align: center;
    padding: .6rem;
    margin: .2rem;
    border-radius: 2rem;
    font-weight: bolder;
    font-size: 1rem;
}

.btn__footer:hover {
    color: rgb(107, 41, 41);;
    background-color: aquamarine;
}