.about {
    @include text;

    .about__box {
        width: 60%;
        align-self: center;
    }
    
    .about__title {
        text-align: center;
        width: auto;
        margin-top: .4rem;
        padding: .4rem;
        background-color: rgb(97, 97, 97);
    }

    .about__p {
        text-align: center;
        width: auto;
        padding: 1rem;
        background-color: rgb(97, 97, 97);
    }
}


